<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/images/tetris.ico" rel="shortcut icon" />
  <link href="/css/tetris.css" rel="stylesheet" type="text/css" />
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <title>Board Sync</title>
</head>

<body id="board">
  <div id="header">
    <p>Bienvenido <%= user %>
    </p>
    <form id="logout" action="/logout" method="POST">
      <input id="log-out-button" class="button" type="submit" value="Log out" />
    </form>
  </div>
  <!-- this will show our spinner -->
  <div id="spinner">
    <p>Buscando placa</p>
  </div>
  <form id="board" action="/tetris" method="POST">
    <div>
      <label>Selecciona una placa para jugar</label>
      <select class="text" id="board-select" name="board" required>
        <option disabled selected hidden>Select Board</option>
      </select>
      <input class="button" id="board-button" type="submit" value="Aceptar" />
      <p style="font-size: 8px;">(*) La página se recarga cada 20s para buscar nuevas placas</p>
    </div>
  </form>
</body>

<script>
  const spinner = document.getElementById("spinner");

  document.addEventListener('DOMContentLoaded', function () {
    fetch('/get_boards')
      .then(response => response.json())
      .then(data => {
        spinner.setAttribute('hidden', '');
        const boards = data;
        console.log(data);
        let options = '';
        if (boards.length) {
          for (let i = 0; i < boards.length; i++) {
            options += `<option value="${boards[i].id}" ${boards[i].taken === "si" ? 'disabled' : ''}>${boards[i].id} ${boards[i].taken === "si" ? '- Placa en uso' : '- Disponbile'}</option>`;
          }
        }
        const selectElement = document.querySelector('select[id="board-select"]');
        selectElement.innerHTML = options;
      });
  });

  // Recargar la página después de un cierto tiempo
  setTimeout(function () {
    location.reload();
  }, 20000);

</script>

</html>