<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/images/tetris.ico" rel="shortcut icon" />
  <link href="/css/tetris.css" rel="stylesheet" type="text/css" />
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <script type="module" src="/js/board.js"></script>
  <title>Board Sync</title>
</head>

<body id="board">
  <div id="header">
    <p>Bienvenido <%= user %>
    </p>
    <form id="logout" action="/logout" method="POST">
      <input id="log-out-button" class="button" type="submit" value="Log out" />
    </form>
  </div>
  <!-- this will show our spinner -->
  <div id="spinner">
    <p id="countdown">Buscando placa</p>
  </div>
  <form id="board" action="/tetris" method="POST">
    <div>
      <label>Selecciona una placa para jugar</label>
      <select class="text" id="board-select" name="board" required>
        <option disabled selected hidden>Select Board</option>
      </select>
      <input class="button" id="board-button" type="submit" value="Aceptar" />
      <p style="font-size: 8px;">(*) La página se recarga cada 20s para buscar nuevas placas</p>
    </div>
  </form>
</body>

</html>