<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="tetris.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body id="login">
    <form action="/auth" method="POST">
      <div id="username">
        <label>Username</label>
        <input id="text" type="text" name="user" required />
      </div>
      <div>
        <label>Selecciona una placa para jugar</label>
        <select name="board" required>
          <option value="">---</option>
          <% if(boards.length){ for(var i = 0; i < boards.length; i++) { %>
          <option value="<%= boards[i].id %>" "<% if (boards[i].ocupado == "si") { %> disabled <% } %> > <%= boards[i].id%> <% if (boards[i].ocupado == "si") {%> - Placa en uso <% } else { %> - Disponible <% } %></option>
          <% } } %>
        </select>
      </div>
      <div id="password">
        <label>Password</label>
        <input id="text" type="password" name="pass" required />
      </div>
      <input id="button" type="submit" value="login" />
      <p>¿No tienes cuenta? <a href="register.html">Registráte</a></p>
    </form>
  </body>
</html>
