<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="tetris.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
  </head>
  <body id="register">
    <form id="register" action="/new" method="POST">
      <p id="register">Register</p>
      <input id="text" type="text" name="user" placeholder="Username" required />
      <input id="text" type="text" name="name" placeholder="Name" required />
      <input id="text" type="text" name="surname" placeholder="Surname" required />
      <input id="text" type="text" name="age" placeholder="Age" required />
      <input id="text" type="password" name="pass" placeholder="Password" required />
      <input id="button" type="submit" value="REGISTER" />
      <a id="button" href="/">BACK</a>
    </form>
  </body>
</html>
