<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="tetris.css" rel="stylesheet" type="text/css" />
  <title>Register</title>
</head>

<body id="register">
  <form id="register" action="/new" method="POST">
    <p id="register">Register</p>
    <input id="text" type="text" name="username" placeholder="Username" size="30" required />
    <input id="text" type="text" name="name" placeholder="Name" size="30" required />
    <input id="text" type="text" name="surname" placeholder="Surname" size="40" required />
    <input id="text" type="number" name="age" placeholder="Age" min="1" max="150" required />
    <select name="institution" required>
      <% if(institution_list.length){ for(var i=0; i < institution_list.length; i++) { %>
        <option value="<%= institution_list[i].id %>">
          <%=institution_list[i].name %>
        </option>
        <% } }%>
    </select>
    <input id="text" type="password" name="pass" placeholder="Password" size="40" required />
    <input id="text" type="password" name="pass2" placeholder="Repeat the password" size="40" required />
    <input id="button" type="submit" value="SUBMIT" />
    <a id="button" href="/">BACK</a>
  </form>
</body>

</html>