body {
  margin: 0;
  padding: 0;
  background: #e1d4c0;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

body,
table,
input {
  font-size: 11px;
  line-height: 1.2em;
  font-family: tahoma;
  color: #826c55;
}

/*Header*/
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#header p,
#header form {
  display: inline-block;
  vertical-align: middle;
}

#header form {
  text-align: end;
}

/*Add user*/
form#add_user {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  margin-right: 2px;
  border-radius: 3px;
  border: 1px solid rgb(179, 179, 179);
  padding-left: 8px;
  box-sizing: border-box;
}

form#add_user select,
form#board select,
form#select_group select {
  font-size: 11px;
  color: rgb(104, 104, 104);
  line-height: 1.2em;
  font-family: tahoma;
  text-align: left;
  content: '';
}

/*Delete and Update buttons*/
hr {
  border-color: rgb(179, 179, 179);
  border-width: 0.2px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: end;
}

/*Add Institution*/
form#add_institution,
form#add_group,
form#select_group {
  margin-top: 1%;
  display: flex;
  align-items: center;
  width: 500px;
}

/*Buttons*/
.button {
  width: 100%;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b3b3b3;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}

form#logout input,
#add-user-button,
#user_update_button,
#add-institution-button,
#institution_delete_button,
#add-group-button,
#group_update_button,
#log-out-button,
#board-button,
#select-group-button {
  width: 60px;
}

#log-out-button {
  background-color: #e2504c;
}

#log-out-button:hover {
  background-color: #ce4a45;
}

#add-user-button,
#add-institution-button,
#add-group-button {
  background-color: rgb(44, 200, 44);
}

#add-user-button:hover,
#add-institution-button:hover,
#add-group-button:hover {
  background-color: rgb(40, 173, 40);
}

#user_delete_button,
#institution_delete_button,
#group_delete_button {
  width: 150px;
  background-color: orange;
}

#user_delete_button:hover,
#institution_delete_button:hover,
#group_delete_button:hover {
  width: 150px;
  background-color: rgb(235, 152, 0);
}

#user_update_button,
#group_update_button,
#board-button,
#select-group-button {
  background-color: #3366cc;
}

#user_update_button:hover,
#group_update_button:hover,
#board-button:hover,
#select-group-button:hover {
  background-color: #325aa9;
}

/*User DataTable*/
table#user,
.dataTables_wrapper select {
  font-size: 11px;
  color: rgb(104, 104, 104);
  line-height: 1.2em;
  font-family: tahoma;
  text-align: left;

}

/*Board*/
form#board {
  width: 400px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #b3b3b3;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

form#board #board-button {
  margin-top: 20px;
  width: 100%;
  height: 35px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid orange;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

#spinner p {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}