html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #e1d4c0;
  padding-left: 1%;
  padding-right: 1%;
}

body,
table,
input {
  font-size: 11px;
  line-height: 1.2em;
  font-family: tahoma;
  color: #826c55;
}

#header p, #header form {
  display: inline-block;
  vertical-align: middle;
}

form#logout input {
  width: 200%;
}

form#add_user {
  margin-bottom: 1%;
}

div#user_wrapper {
  margin-bottom: 1%;
}
