/*Register form*/


form#register #button {
    background-color: orange;
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    ;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 10px #b3b3b3;
    font-weight: bold;
    text-decoration: none;
}

form#register a#button {
    margin-top: 10%;
    background-color: #3366cc;
    padding-left: 160px;
    padding-right: 160px;
}